.brand-insights-card {
	background: $colour_white;
	position: relative;

	@include breakpoint(medium) {
		display: flex;
		justify-content: space-between;
	}

	@include breakpoint(large) {
		display: block;
	}

	&__image-wrap {
		@include aspectBox(272, 159);
		// max-height: 350px;
		margin-bottom: 32px;
		position: relative;
		width: 100%;

		@include breakpoint(medium) {
			margin-bottom: 0;
			width: 47%;
		}

		@include breakpoint(large) {
			height: 350px;
			@include aspectBox(832, 486);
			margin-bottom: 34px;
			// max-height: initial;
			width: initial;

			&:after {
				// display: none;
			}
		}

		@include breakpoint(xlarge) {
			height: 400px;
		}

		@include breakpoint(xxlarge) {
			height: 486px;
		}
	}

	&__image-podcast-indicator {
		align-items: center;
		background: $colour_offblack;
		bottom: 0;
		display: flex;
		height: 60px;
		justify-content: center;
		left: 0;
		position: absolute;
		width: 65px;

		@include breakpoint(large) {
			height: 73px;
			width: 81px;
		}

		svg {
			transform: translate3d(-3px, 0, 0);
			width: 28px;

			@include breakpoint(large) {
				width: 43px;
			}
		}
	}

	&__content-wrap {
		@include breakpoint(medium) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 47%;
		}

		@include breakpoint(large) {
			width: 100%;
		}
	}

	&__meta {
		@include fontSize(14px);
		font-weight: 500;
		display: flex;
		flex-wrap: wrap;
		line-height: 1.2;
		margin-bottom: 14px;

		@include breakpoint(large) {
			@include fontSize(18px);
			margin-bottom: 17px;
		}

		@include breakpoint(xlarge) {
			// @include fontSize(20px);
			margin-bottom: 32px;
		}

		&-separator,
		&-category {
			margin: 0 5px 0 0;

			@include breakpoint(large) {
				margin: 0 10px 0 0;
			}
		}
	}

	&__title {
		font-family: $font_gt_sectra_medium;
		@include fontSize(28px);
		line-height: 1.15;

		@include breakpoint(medium) {
			max-width: 350px;
		}

		@include breakpoint(large) {
			@include fontSize(32px);
			line-height: 1.14;
			max-width: 450px;
		}
	}

	&__description {
		@include fontSize(18px);
		line-height: 1.6;
		margin-top: 16px;

		@include breakpoint(large) {
			@include fontSize(22px);
		}
	}

	&__cta {
		margin-top: 16px;

		.arrow-link:after {
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}