@font-face {
	font-family: 'GT Sectra';
	font-display: swap;
	src: url('../fonts/GT-Sectra-Book.woff2') format('woff2');
}

@font-face {
	font-family: 'GT Sectra Medium';
	font-display: swap;
	src: url('../fonts/GT-Sectra-Medium.woff2') format('woff2');
}