.insight-hero {
	padding: 64px 0;

	@include breakpoint(medium) {
		padding: 80px 0 120px;
	}

	@include breakpoint(large) {
		padding: 100px 0 140px;
	}

	@include breakpoint(xlarge) {
		// padding: 140px 0 190px;
	}

	&--purple {
		.insight-hero__heading strong {
			color: $colour_purple;
		}
	}

	&--red {
		.insight-hero__heading strong {
			color: $colour_red;
		}
	}

	&--blue {
		.insight-hero__heading strong {
			color: $colour_blue;
		}
	}

	&--green {
		.insight-hero__heading strong {
			color: $colour_green;
		}
	}

	&--yellow {
		.insight-hero__heading strong {
			color: $colour_yellow;
		}
	}

	&__crumbs {
		align-items: center;
		@include fontSize(20px);
		display: flex;
		flex-wrap: wrap;;
		font-weight: 500;
		line-height: 1.4;
		margin-bottom: 16px;

		&-divider {
			background: $colour_black;
			height: 25px;
			margin: 0 10px;
			width: 2px;

			@include breakpoint(large) {
				height: 30px;
			}
		}
	}

	&__heading {
		font-family: $font_gt_sectra_medium;
		@include fontSize(40px);
		line-height: 1.38;

		@include breakpoint(medium) {
			@include fontSize(50px);
		}

		@include breakpoint(large) {
			@include fontSize(72px);
		}

		@include breakpoint(xlarge) {
			// @include fontSize(100px);
		}

		strong {
			font-weight: normal;
		}
	}

	&__sub-title {
		display: block;
		font-family: $font_gt_sectra_medium;
		@include fontSize(32px);
		line-height: 1.25;
		margin-top: 40px;

		@include breakpoint(xlarge) {
			// @include fontSize(40px);
			margin-top: 48px;
		}
	}
}