.map {
	background: $colour_black;
	color: $colour_white;
	padding: 64px 0;

	@include breakpoint(large) {
		padding: 80px 0;
	}

	@include breakpoint(xlarge) {
		padding: 100px 0;
	}

	&__title {
		font-family: $font_gt_sectra_medium;
		@include fontSize(32px);
		line-height: 1.3;
		margin-bottom: 24px;

		@include breakpoint(large) {
			margin-bottom: 55px;
		}
	}

	&__map-container {
		@include aspectBox(272, 141);
		margin-bottom: 24px;
		position: relative;

		@include breakpoint(large) {
			@include aspectBox(957, 494);
		}
	}

	&__address-wrap {
		@include breakpoint(large) {
			margin-top: 95px;
		}
	}

	&__address {
		font-family: $font_gt_sectra_medium;
		@include fontSize(22px);
		line-height: 1.45;

		@include breakpoint(large) {
			@include fontSize(26px);
		}
	}

	&__directions {
		margin-top: 32px;

		@include breakpoint(large) {
			margin-top: 61px;
		}
	}
}