.text-and-image {
	margin: 0 0 64px 0;
	position: relative;

	@include breakpoint(xlarge) {
		margin: 0 0 80px 0;
	}

	&--dark {
		background: $colour_black;
		color: $colour_white;
	}

	&__image-wrap {
		margin: 0 -24px 56px;
		padding-top: 64px;
		position: relative;

		@include breakpoint(medium) {
			margin: 0 -24px 0;
			padding-left: 10px;
			padding-top: 64px;
		}

		@include breakpoint(large) {
			margin: 0;
			padding-right: 0;
			padding-top: 20px;
		}

		@include breakpoint(xlarge) {
			// margin-right: -7px;
		}

		@include breakpoint(xxlarge) {
			// margin-right: -8px;
		}
	}

	&__content-wrap {
		position: relative;

		@include breakpoint(medium) {
			max-width: 450px;
			padding: 64px 0 0 0;
		}

		@include breakpoint(large) {
			max-width: 600px;
			padding: 80px 0 80px 0;
		}

		@include breakpoint(xlarge) {
			max-width: 100%;
			padding: 120px 0 100px 0;
		}
	}

	&__title {
		font-family: $font_gt_sectra_medium;
		@include fontSize(32px);
		line-height: 1.25;

		@include breakpoint(large) {
			@include fontSize(50px);
		}
	}

	&__title + &__content {
		margin-top: 24px;

		@include breakpoint(large) {
			margin-top: 32px;
		}

		@include breakpoint(xlarge) {
			margin-top: 42px;
		}
	}

	&__content {
		@include fontSize(18px);
		line-height: 1.75;

		@include breakpoint(large) {
			@include fontSize(24px);
		}

		@include breakpoint(xlarge) {
			// @include fontSize(30px);
			// line-height: 1.6;
		}
	}
}